# Environment mode: dev | prod
ENV=dev

# App
PORT=3001

# JWT
JWT_SECRET=your-secret-key-here

# Firebase Administration
FIREBASE_PROJECT_ID=your-project-id
FIREBASE_CLIENT_EMAIL=your-client-email@project.iam.gserviceaccount.com
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n..."

# IA (Groq)
GROQ_API_KEY=your-groq-api-key
MODEL=llama-3.3-70b-versatile
